@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  appearance: none;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 400;
  background-color: rgb(175, 199, 255);
}

button:hover {
  border: 1px solid rgb(54, 161, 255);
  transform: scale(1.02);
}

button:active {
  transform: scale(1);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option {
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.option:hover {
  transform: scale(1.1);
}

.book-info {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

label {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.read-div input {
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.read-div input:hover {
  transform: scale(1.1);
}

.read-div {
  display: flex;
  align-items: center;
  gap: 15px;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
}

form > input {
  appearance: none;
  border: none;
  border-radius: 16px;
  padding: 10px;
  background-color: white;
}

form > button {
  width: 100%;
  background-color: rgb(175, 199, 255);
}

form > input:focus {
  outline: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 52px;
  margin-top: 5%;
}

.footer {
  margin-bottom: 0;
  margin-top: auto;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.footer p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.footer img {
  height: 30px;
  width: auto;
}

img:hover {
  transform: scale(1.1);
}

img:active {
  transform: scale(1);
}

.mobile-button {
  display: none;
}

.books {
  border-radius: 16px;
  border: 1px solid rgb(175, 199, 255);
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    max-height: 100px;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 13px;
  }
  h1 {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 0;
  }
  button {
    width: 80px;
    height: 40px;
    font-size: 16px;
  }
  .buttons {
    flex-direction: row;
  }

  .options {
    display: none;
  }
  .footer {
    display: none;
  }
  .mobile-button {
    display: block;
  }
  .more {
    display: flex;
    gap: 2px;
    flex-direction: column;
  }
  .strip {
    width: 20px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(175, 199, 255);
  }
  .book-info {
    display: none;
  }
  .login {
    display: none;
  }
  .add {
    width: 100px;
  }
}
